<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CSE135</title>
</head>

<body>
	<table width="100%"  border="1px" align="center">
	<tr align="center"><td width="20%"><B>Category Name</B></td><td width="60%"><B>Category Description</B></td><td width="5%"><B>Count</B></td><td width="15%" colspan="2"><B>Operations</B></td></tr>
	<form action="categories.jsp" method="post">
	<input type="text" name="action" id="action" value="insert" style="display:none">
	<tr align="center"><td width="20%"><input type="text" name="name" id="name" size="30" ></td><td width="60%"><textarea cols="90" rows="4" name="des" id="des"></textarea></td><td width="5%">0</td><td width="15%" colspan="2"><input type="submit"  value="Insert"></td></tr>
    </form>
		
	<tr align="center">
			<form action="categories.jsp" method="post">
				<input type="text" name="action" id="action" value="update" style="display:none">
				<input type="text" name="id" id="id" value="<%=id%>" style="display:none">
				<td width="20%"><input type="text" name="name" id="name" value="<%=name%>" size="30"></td>
				<td width="60%"><textarea cols="90" rows="4" name="des" id="des"><%=des%></textarea></td>
				<td width="5%">0</td>
				<td width="7%"><input type="submit" value="Update"></td>
			</form>
			<form action="categories.jsp" method="post">
				<input type="text" name="action" id="action" value="delete" style="display:none">
				<input type="text" name="id" id="id" value="<%=id%>" style="display:none">
				<td width="8%"><input type="submit" value="Delete"></td>
			</form>
	</tr>


</body>
</html>